.takeover-base {
    background: none;
    padding-top: 0px;
}

.takeover .takeover-base {
	background: #fff;
    background-image: url("/adserver/banners/t_over/okusno-branded-mali-sef-maestro-ozadje/24ur_crosspromo_takeover_Mali_Sef_bel_maestro_cet20h_bg.jpg");
	background-repeat: no-repeat;
	background-position: top 60px center;
	background-attachment: fixed;
    cursor: pointer;
    /* Normal */
     padding-top: 426px;

    /* Brandiran brez luknje */
    /* padding-top: 128px; */
}

.container, .header, .footer {
    cursor: default;
}
